<%= form_with(model: visit_template, local: true) do |form| %>
  <% if visit_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visit_template.errors.count, "error") %> prohibited this visit_template from being saved:</h2>

      <ul>
        <% visit_template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <label>Fee Schedule</label>
      <%= form.select :fee_schedule_id, options_for_select(@fee_schedules.map{|s| [s.name,s.id] }, @visit_template.fee_schedule_id) %>
  </div>

  <div class="field">
    <label for="multi-select">Terminologies</label>
    <div class="select select-multiple">
      <%= select_tag 'terminologies[]', options_for_select(@terminologies.map{|s| [s.code+'('+s.description+')',s.id] },
                                                           @visit_template.template_terminologies.pluck(:terminology_id)), multiple: true, size: 10 %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
