<fieldset>
  <legend>Patient Demoghrapics</legend>
  <p>
    <label for="patient_name">Patient Name</label>
    <input type="text" name="patient_name" id="patient_name" >

    <label for="date_of_appointment">Date of Appointment</label>
    <input type="datetime-local" name="date_of_appointment" id="date_of_appointment" >

    <label for="plan_name">Plan Name</label>
    <input type="text" name="plan_name" id="plan_name" >

    <label for="plan_type">Plan Type</label>
    <input type="text" name="plan_type" id="plan_type" >
  </p>
</fieldset>

<fieldset>
  <legend>Insurance Information</legend>
  <p>
    <label for="copay">Co Pay</label>
    <input type="text" name="copay" id="copay" >

    <label for="coins">Co Ins</label>
    <input type="text" name="coins" id="coins" >

    <label for="deductible_balance">Deductible Balance</label>
    <input type="text" name="deductible_balance" id="deductible_balance" >

    <label for="out_of_pocket_max_balance">Out of Pocket Max Balance</label>
    <input type="text" name="out_of_pocket_max_balance" id="out_of_pocket_max_balance" >
  </p>
</fieldset>

<br/>

<div class="field">
  <label>Visit Template</label>
  <%= select_tag :visit_template_id, options_for_select(@visit_templates.map { |s| [s.name, s.id] }), { :include_blank => true} %>
  <label>Fee Schedule</label>
  <%= select_tag :fee_schedule_id, options_for_select(@fee_schedules.map { |s| [s.name, s.id] }), { :include_blank => true} %>
</div>

<div class="field">
  <label for="code_fcs">Add Procedure</label>
  <%= select_tag :add_terminology_id, options_for_select(@terminologies.map { |s| [s.code + '(' + s.description + ')', s.id] }), id: 'add_terminology_id'%>

</div>

<br/>

<fieldset>
  <legend>Fully Covered Services</legend>
  <input type="text" id="next_available_fcs", hidden>
  <p>
    <label for="code_fcs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_fcs.map { |s| [s.code, s.id] }), id: 'terminology_fcs1'%>

    <label for="description_fcs">Description</label>
    <input type="text" name="description" id="description_fcs1" >

    <label for="fee_schedule_fcs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_fcs1" >

    <label for="units_fcs">Units</label>
    <input type="text" name="units" id="units_fcs1" >

    <label for="total_fcs">Total</label>
    <input type="text" name="total" id="total_fcs1" >
  </p>

  <p>
    <label for="code_fcs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_fcs.map { |s| [s.code, s.id] }), id: 'terminology_fcs2'%>

    <label for="description_fcs">Description</label>
    <input type="text" name="description" id="description_fcs2" >

    <label for="fee_schedule_fcs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_fcs2" >

    <label for="units_fcs">Units</label>
    <input type="text" name="units" id="units_fcs2" >

    <label for="total_fcs">Total</label>
    <input type="text" name="total" id="total_fcs2" >
  </p>

  <p>
    <label for="code_fcs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_fcs.map { |s| [s.code, s.id] }), id: 'terminology_fcs3'%>

    <label for="description_fcs">Description</label>
    <input type="text" name="description" id="description_fcs3" >

    <label for="fee_schedule_fcs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_fcs3" >

    <label for="units_fcs">Units</label>
    <input type="text" name="units" id="units_fcs3" >

    <label for="total_fcs">Total</label>
    <input type="text" name="total" id="total_fcs3" >
  </p>

  <p>
    <label for="code_fcs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_fcs.map { |s| [s.code, s.id] }), id: 'terminology_fcs4'%>

    <label for="description_fcs">Description</label>
    <input type="text" name="description" id="description_fcs4" >

    <label for="fee_schedule_fcs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_fcs4" >

    <label for="units_fcs">Units</label>
    <input type="text" name="units" id="units_fcs4" >

    <label for="total_fcs">Total</label>
    <input type="text" name="total" id="total_fcs4" >
  </p>

  <p style="text-align: right; margin-right: 149px">
    <label for="total_fcs">SubTotal</label>
    <input type="text" name="total" id="subtotal_fcs" >
  </p>
</fieldset>

<fieldset>
  <legend>Covered Services</legend>
  <input type="text" id="next_available_cs", hidden>
  <p>
    <label for="code_cs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_cs.map { |s| [s.code, s.id] }), id: 'terminology_cs1'%>

    <label for="description_cs">Description</label>
    <input type="text" name="description" id="description_cs1" >

    <label for="fee_schedule_cs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_cs1" >

    <label for="units_cs">Units</label>
    <input type="text" name="units" id="units_cs1" >

    <label for="total_cs">Total</label>
    <input type="text" name="total" id="total_cs1" >
  </p>

  <p>
    <label for="code_cs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_cs.map { |s| [s.code, s.id] }), id: 'terminology_cs2'%>

    <label for="description_cs">Description</label>
    <input type="text" name="description" id="description_cs2" >

    <label for="fee_schedule_cs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_cs2" >

    <label for="units_cs">Units</label>
    <input type="text" name="units" id="units_cs2" >

    <label for="total_cs">Total</label>
    <input type="text" name="total" id="total_cs2" >
  </p>

  <p>
    <label for="code_cs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_cs.map { |s| [s.code, s.id] }), id: 'terminology_cs3'%>

    <label for="description_cs">Description</label>
    <input type="text" name="description" id="description_cs3" >

    <label for="fee_schedule_cs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_cs3" >

    <label for="units_cs">Units</label>
    <input type="text" name="units" id="units_cs3" >

    <label for="total_cs">Total</label>
    <input type="text" name="total" id="total_cs3" >
  </p>

  <p>
    <label for="code_cs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_cs.map { |s| [s.code, s.id] }), id: 'terminology_cs4'%>

    <label for="description_cs">Description</label>
    <input type="text" name="description" id="description_cs4" >

    <label for="fee_schedule_cs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_cs4" >

    <label for="units_cs">Units</label>
    <input type="text" name="units" id="units_cs4" >

    <label for="total_cs">Total</label>
    <input type="text" name="total" id="total_cs4" >
  </p>

  <p style="text-align: right; margin-right: 149px">
    <label for="total_fcs">SubTotal</label>
    <input type="text" name="total" id="subtotal_cs" >
  </p>
</fieldset>

<fieldset>
  <legend>Non-Covered Services</legend>
  <input type="text" id="next_available_ncs", hidden>
  <p>
    <label for="code_ncs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_ncs.map { |s| [s.code, s.id] }), id: 'terminology_ncs1'%>

    <label for="description_ncs">Description</label>
    <input type="text" name="description" id="description_ncs1" >

    <label for="fee_schedule_ncs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_ncs1" >

    <label for="units_ncs">Units</label>
    <input type="text" name="units" id="units_ncs1" >

    <label for="total_ncs">Total</label>
    <input type="text" name="total" id="total_ncs1" >
  </p>

  <p>
    <label for="code_ncs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_ncs.map { |s| [s.code, s.id] }), id: 'terminology_ncs2'%>

    <label for="description_ncs">Description</label>
    <input type="text" name="description" id="description_ncs2" >

    <label for="fee_schedule_ncs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_ncs2" >

    <label for="units_ncs">Units</label>
    <input type="text" name="units" id="units_ncs2" >

    <label for="total_ncs">Total</label>
    <input type="text" name="total" id="total_ncs2" >
  </p>

  <p>
    <label for="code_ncs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_ncs.map { |s| [s.code, s.id] }), id: 'terminology_ncs3'%>

    <label for="description_ncs">Description</label>
    <input type="text" name="description" id="description_ncs3" >

    <label for="fee_schedule_ncs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_ncs3" >

    <label for="units_ncs">Units</label>
    <input type="text" name="units" id="units_ncs3" >

    <label for="total_ncs">Total</label>
    <input type="text" name="total" id="total_ncs3" >
  </p>

  <p>
    <label for="code_ncs">Procedure</label>
    <%= select_tag :terminology_id, options_for_select(@terminologies_ncs.map { |s| [s.code, s.id] }), id: 'terminology_ncs4'%>

    <label for="description_ncs">Description</label>
    <input type="text" name="description" id="description_ncs4" >

    <label for="fee_schedule_ncs">Fee Schedule</label>
    <input type="text" name="fee_schedule" id="fee_schedule_ncs4" >

    <label for="units_ncs">Units</label>
    <input type="text" name="units" id="units_ncs4" >

    <label for="total_ncs">Total</label>
    <input type="text" name="total" id="total_ncs4" >
  </p>

  <p style="text-align: right; margin-right: 149px">
    <label for="total_fcs">SubTotal</label>
    <input type="text" name="total" id="subtotal_ncs" >
  </p>
</fieldset>

<fieldset>
  <p>
    <label for="total_cost">Total Cost</label>
    <input type="text" name="total_cost" id="total_cost" >

    <label for="insurance_pays">Insurance Pays</label>
    <input type="text" name="insurance_pays" id="insurance_pays" >
  </p>
</fieldset>

<fieldset>
  <legend>Patient Resp</legend>
  <p>
    <label for="patient_copay">Co Pay</label>
    <input type="text" name="patient_copay" id="patient_copay" >

    <label for="patient_deductible">Deductible</label>
    <input type="text" name="patient_deductible" id="patient_deductible" >

    <label for="patient_coins">Co Ins</label>
    <input type="text" name="patient_coins" id="patient_coins" >

    <label for="patient_out_of_pocket_max">Out of Pocket Max</label>
    <input type="text" name="patient_out_of_pocket_max" id="patient_out_of_pocket_max" >

    <label for="patient_total_out_of_pocket_estimate">Total Out of Pocket Estimate</label>
    <input type="text" name="patient_total_out_of_pocket_estimate" id="patient_total_out_of_pocket_estimate" >
  </p>
</fieldset>

<div id="create_template">
  <label for="new_template_name">Template Name</label>
  <input type="text" name="new_template_name" id="new_template_name" >
  <%= button_to "Create Template" %>
</div>

<%= button_to 'Update Template' %>
<%= button_to 'Do Estimate' %>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript">
    $('#visit_template_id').change(function(){
        $("#create_template").hide();
        $("input[value='Update Template']").show();
        $.ajax({
            url: "populate_terminologies",
            type: "GET",
            data: {visit_template_id: $('#visit_template_id option:selected').val()},
        })
        setTimeout(function() {
            $('#units_fcs1').trigger("change");
            $('#units_fcs2').trigger("change");
            $('#units_fcs3').trigger("change");
            $('#units_fcs4').trigger("change");

            $('#units_cs1').trigger("change");
            $('#units_cs2').trigger("change");
            $('#units_cs3').trigger("change");
            $('#units_cs4').trigger("change");

            $('#units_ncs1').trigger("change");
            $('#units_ncs2').trigger("change");
            $('#units_ncs3').trigger("change");
            $('#units_ncs4').trigger("change");
        }, 1000);

    });

    $('#fee_schedule_id').change(function(){
        // if ($('#visit_template_id option:selected').val().length > 0) {
            $.ajax({
                url: "populate_charges",
                type: "GET",
                data: {
                    visit_template_id: $('#visit_template_id option:selected').val(),
                    fee_schedule_id: $('#fee_schedule_id option:selected').val(),
                    terminology_fcs1: $('#terminology_fcs1 option:selected').val(),
                    terminology_fcs2: $('#terminology_fcs2 option:selected').val(),
                    terminology_fcs3: $('#terminology_fcs3 option:selected').val(),
                    terminology_fcs4: $('#terminology_fcs4 option:selected').val(),
                    terminology_cs1: $('#terminology_cs1 option:selected').val(),
                    terminology_cs2: $('#terminology_cs2 option:selected').val(),
                    terminology_cs3: $('#terminology_cs3 option:selected').val(),
                    terminology_cs4: $('#terminology_cs4 option:selected').val(),
                    terminology_ncs1: $('#terminology_ncs1 option:selected').val(),
                    terminology_ncs2: $('#terminology_ncs2 option:selected').val(),
                    terminology_ncs3: $('#terminology_ncs3 option:selected').val(),
                    terminology_ncs4: $('#terminology_ncs4 option:selected').val()
                }
            })
        // }
    });

    $('#units_fcs1, #fee_schedule_fcs1').on('keyup change', function (){
        var total_fcs1 = Number($('#units_fcs1').val()) * Number($('#fee_schedule_fcs1').val())
        var total_fcs2 = Number($('#units_fcs2').val()) * Number($('#fee_schedule_fcs2').val())
        var total_fcs3 = Number($('#units_fcs3').val()) * Number($('#fee_schedule_fcs3').val())
        var total_fcs4 = Number($('#units_fcs4').val()) * Number($('#fee_schedule_fcs4').val())
        $('#total_fcs1').val(total_fcs1)
        $('#subtotal_fcs').val(total_fcs1+total_fcs2+total_fcs3+total_fcs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_fcs2, #fee_schedule_fcs2').on('keyup change', function (){
        var total_fcs1 = Number($('#units_fcs1').val()) * Number($('#fee_schedule_fcs1').val())
        var total_fcs2 = Number($('#units_fcs2').val()) * Number($('#fee_schedule_fcs2').val())
        var total_fcs3 = Number($('#units_fcs3').val()) * Number($('#fee_schedule_fcs3').val())
        var total_fcs4 = Number($('#units_fcs4').val()) * Number($('#fee_schedule_fcs4').val())
        $('#total_fcs2').val(total_fcs2)
        $('#subtotal_fcs').val(total_fcs1+total_fcs2+total_fcs3+total_fcs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_fcs3, #fee_schedule_fcs3').on('keyup change', function (){
        var total_fcs1 = Number($('#units_fcs1').val()) * Number($('#fee_schedule_fcs1').val())
        var total_fcs2 = Number($('#units_fcs2').val()) * Number($('#fee_schedule_fcs2').val())
        var total_fcs3 = Number($('#units_fcs3').val()) * Number($('#fee_schedule_fcs3').val())
        var total_fcs4 = Number($('#units_fcs4').val()) * Number($('#fee_schedule_fcs4').val())
        $('#total_fcs3').val(total_fcs3)
        $('#subtotal_fcs').val(total_fcs1+total_fcs2+total_fcs3+total_fcs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_fcs4, #fee_schedule_fcs4').on('keyup change', function (){
        var total_fcs1 = Number($('#units_fcs1').val()) * Number($('#fee_schedule_fcs1').val())
        var total_fcs2 = Number($('#units_fcs2').val()) * Number($('#fee_schedule_fcs2').val())
        var total_fcs3 = Number($('#units_fcs3').val()) * Number($('#fee_schedule_fcs3').val())
        var total_fcs4 = Number($('#units_fcs4').val()) * Number($('#fee_schedule_fcs4').val())
        $('#total_fcs4').val(total_fcs4)
        $('#subtotal_fcs').val(total_fcs1+total_fcs2+total_fcs3+total_fcs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_cs1, #fee_schedule_cs1').on('keyup change', function (){
        var total_cs1 = Number($('#units_cs1').val()) * Number($('#fee_schedule_cs1').val())
        var total_cs2 = Number($('#units_cs2').val()) * Number($('#fee_schedule_cs2').val())
        var total_cs3 = Number($('#units_cs3').val()) * Number($('#fee_schedule_cs3').val())
        var total_cs4 = Number($('#units_cs4').val()) * Number($('#fee_schedule_cs4').val())
        $('#total_cs1').val(total_cs1)
        $('#subtotal_cs').val(total_cs1+total_cs2+total_cs3+total_cs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_cs2, #fee_schedule_cs2').on('keyup change', function (){
        var total_cs1 = Number($('#units_cs1').val()) * Number($('#fee_schedule_cs1').val())
        var total_cs2 = Number($('#units_cs2').val()) * Number($('#fee_schedule_cs2').val())
        var total_cs3 = Number($('#units_cs3').val()) * Number($('#fee_schedule_cs3').val())
        var total_cs4 = Number($('#units_cs4').val()) * Number($('#fee_schedule_cs4').val())
        $('#total_cs2').val(total_cs2)
        $('#subtotal_cs').val(total_cs1+total_cs2+total_cs3+total_cs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_cs3, #fee_schedule_cs3').on('keyup change', function (){
        var total_cs1 = Number($('#units_cs1').val()) * Number($('#fee_schedule_cs1').val())
        var total_cs2 = Number($('#units_cs2').val()) * Number($('#fee_schedule_cs2').val())
        var total_cs3 = Number($('#units_cs3').val()) * Number($('#fee_schedule_cs3').val())
        var total_cs4 = Number($('#units_cs4').val()) * Number($('#fee_schedule_cs4').val())
        $('#total_cs3').val(total_cs3)
        $('#subtotal_cs').val(total_cs1+total_cs2+total_cs3+total_cs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_cs4, #fee_schedule_cs4').on('keyup change', function (){
        var total_cs1 = Number($('#units_cs1').val()) * Number($('#fee_schedule_cs1').val())
        var total_cs2 = Number($('#units_cs2').val()) * Number($('#fee_schedule_cs2').val())
        var total_cs3 = Number($('#units_cs3').val()) * Number($('#fee_schedule_cs3').val())
        var total_cs4 = Number($('#units_cs4').val()) * Number($('#fee_schedule_cs4').val())
        $('#total_cs4').val(total_cs4)
        $('#subtotal_cs').val(total_cs1+total_cs2+total_cs3+total_cs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_ncs1, #fee_schedule_ncs1').on('keyup change', function (){
        var total_ncs1 = Number($('#units_ncs1').val()) * Number($('#fee_schedule_ncs1').val())
        var total_ncs2 = Number($('#units_ncs2').val()) * Number($('#fee_schedule_ncs2').val())
        var total_ncs3 = Number($('#units_ncs3').val()) * Number($('#fee_schedule_ncs3').val())
        var total_ncs4 = Number($('#units_ncs4').val()) * Number($('#fee_schedule_ncs4').val())
        $('#total_ncs1').val(total_ncs1)
        $('#subtotal_ncs').val(total_ncs1+total_ncs2+total_ncs3+total_ncs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_ncs2, #fee_schedule_ncs2').on('keyup change', function (){
        var total_ncs1 = Number($('#units_ncs1').val()) * Number($('#fee_schedule_ncs1').val())
        var total_ncs2 = Number($('#units_ncs2').val()) * Number($('#fee_schedule_ncs2').val())
        var total_ncs3 = Number($('#units_ncs3').val()) * Number($('#fee_schedule_ncs3').val())
        var total_ncs4 = Number($('#units_ncs4').val()) * Number($('#fee_schedule_ncs4').val())
        $('#total_ncs2').val(total_ncs2)
        $('#subtotal_ncs').val(total_ncs1+total_ncs2+total_ncs3+total_ncs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_ncs3, #fee_schedule_ncs3').on('keyup change', function (){
        var total_ncs1 = Number($('#units_ncs1').val()) * Number($('#fee_schedule_ncs1').val())
        var total_ncs2 = Number($('#units_ncs2').val()) * Number($('#fee_schedule_ncs2').val())
        var total_ncs3 = Number($('#units_ncs3').val()) * Number($('#fee_schedule_ncs3').val())
        var total_ncs4 = Number($('#units_ncs4').val()) * Number($('#fee_schedule_ncs4').val())
        $('#total_ncs3').val(total_ncs3)
        $('#subtotal_ncs').val(total_ncs1+total_ncs2+total_ncs3+total_ncs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $('#units_ncs4, #fee_schedule_ncs4').on('keyup change', function (){
        var total_ncs1 = Number($('#units_ncs1').val()) * Number($('#fee_schedule_ncs1').val())
        var total_ncs2 = Number($('#units_ncs2').val()) * Number($('#fee_schedule_ncs2').val())
        var total_ncs3 = Number($('#units_ncs3').val()) * Number($('#fee_schedule_ncs3').val())
        var total_ncs4 = Number($('#units_ncs4').val()) * Number($('#fee_schedule_ncs4').val())
        $('#total_ncs4').val(total_ncs4)
        $('#subtotal_ncs').val(total_ncs1+total_ncs2+total_ncs3+total_ncs4)
        $('#total_cost').val(Number($('#subtotal_fcs').val()) + Number($('#subtotal_cs').val()) + Number($('#subtotal_ncs').val()))
    });

    $("input[value='Do Estimate']").click(function(e) {
        e.preventDefault();
        var out_of_pocket_max_balance = Number($('#out_of_pocket_max_balance').val());
        var copay = Number($('#copay').val());
        var coins = Number($('#coins').val());
        var deductible_balance = Number($('#deductible_balance').val());
        var total_cs = Number($('#subtotal_cs').val());
        var total_ncs = Number($('#subtotal_ncs').val());
        var patient_copay = 0;
        var patient_deductible = 0;
        var patient_coins = 0;

        if (out_of_pocket_max_balance > copay) {
            $('#patient_copay').val(copay)
            patient_copay = copay
        } else {
            $('#patient_copay').val(out_of_pocket_max_balance)
            patient_copay = out_of_pocket_max_balance
        }

        if (deductible_balance > 0){
            patient_deductible = Math.min((deductible_balance-patient_copay), total_cs)
        }

        if ((out_of_pocket_max_balance-patient_deductible-patient_copay)>0){
            patient_coins = Math.min((total_cs*coins/100), (out_of_pocket_max_balance-patient_copay-patient_deductible))
        }
        $('#patient_copay').val(patient_copay)
        $('#patient_deductible').val(patient_deductible)
        $('#patient_coins').val(patient_coins)

        var total_out_of_pocket_estimate = patient_copay+patient_deductible+patient_coins+total_ncs
        $('#patient_total_out_of_pocket_estimate').val(total_out_of_pocket_estimate)

        var total_cost = Number($('#total_cost').val());
        $('#insurance_pays').val(total_cost-total_out_of_pocket_estimate)
    });

    $('#terminology_fcs1').on("select2:selecting", function(e) {
        var p_val = $('#terminology_fcs1 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_fcs1 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_fcs1').val('');
                $('#fee_schedule_fcs1').val('');
                $('#units_fcs1').val('');
                $('#total_fcs1').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'fcs1', terminology_id: $('#terminology_fcs1 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_fcs2').on("select2:selecting", function(e) {
        var p_val = $('#terminology_fcs2 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_fcs2 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_fcs2').val('');
                $('#fee_schedule_fcs2').val('');
                $('#units_fcs2').val('');
                $('#total_fcs2').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'fcs2', terminology_id: $('#terminology_fcs2 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })

            }
        }, 500);
    });

    $('#terminology_fcs3').on("select2:selecting", function(e) {
        var p_val = $('#terminology_fcs3 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_fcs3 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_fcs3').val('');
                $('#fee_schedule_fcs3').val('');
                $('#units_fcs3').val('');
                $('#total_fcs3').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'fcs3', terminology_id: $('#terminology_fcs3 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_fcs4').on("select2:selecting", function(e) {
        var p_val = $('#terminology_fcs4 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_fcs4 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_fcs4').val('');
                $('#fee_schedule_fcs4').val('');
                $('#units_fcs4').val('');
                $('#total_fcs4').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'fcs4', terminology_id: $('#terminology_fcs4 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_cs1').on("select2:selecting", function(e) {
        var p_val = $('#terminology_cs1 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_cs1 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_cs1').val('');
                $('#fee_schedule_cs1').val('');
                $('#units_cs1').val('');
                $('#total_cs1').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'cs1', terminology_id: $('#terminology_cs1 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_cs2').on("select2:selecting", function(e) {
        var p_val = $('#terminology_cs2 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_cs2 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_cs2').val('');
                $('#fee_schedule_cs2').val('');
                $('#units_cs2').val('');
                $('#total_cs2').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'cs2', terminology_id: $('#terminology_cs2 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_cs3').on("select2:selecting", function(e) {
        var p_val = $('#terminology_cs3 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_cs3 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_cs3').val('');
                $('#fee_schedule_cs3').val('');
                $('#units_cs3').val('');
                $('#total_cs3').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'cs3', terminology_id: $('#terminology_cs3 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_cs4').on("select2:selecting", function(e) {
        var p_val = $('#terminology_cs4 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_cs4 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_cs4').val('');
                $('#fee_schedule_cs4').val('');
                $('#units_cs4').val('');
                $('#total_cs4').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'cs4', terminology_id: $('#terminology_cs4 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_ncs1').on("select2:selecting", function(e) {
        var p_val = $('#terminology_ncs1 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_ncs1 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_ncs1').val('');
                $('#fee_schedule_ncs1').val('');
                $('#units_ncs1').val('');
                $('#total_ncs1').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'ncs1', terminology_id: $('#terminology_ncs1 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_ncs2').on("select2:selecting", function(e) {
        var p_val = $('#terminology_ncs2 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_ncs2 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_ncs2').val('');
                $('#fee_schedule_ncs2').val('');
                $('#units_ncs2').val('');
                $('#total_ncs2').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'ncs2', terminology_id: $('#terminology_ncs2 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_ncs3').on("select2:selecting", function(e) {
        var p_val = $('#terminology_ncs3 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_ncs3 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_ncs3').val('');
                $('#fee_schedule_ncs3').val('');
                $('#units_ncs3').val('');
                $('#total_ncs3').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'ncs3', terminology_id: $('#terminology_ncs3 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $('#terminology_ncs4').on("select2:selecting", function(e) {
        var p_val = $('#terminology_ncs4 option:selected').val()
        setTimeout(function() {
            if ($('#terminology_ncs4 option:selected').val() == ''){
                if ($('#visit_template_id option:selected').val() != ''){
                    $.ajax({
                        url: "remove_terminology",
                        type: "GET",
                        data: {terminology_id: p_val, visit_template_id: $('#visit_template_id option:selected').val()},
                    })
                }
                $('#description_ncs4').val('');
                $('#fee_schedule_ncs4').val('');
                $('#units_ncs4').val('');
                $('#total_ncs4').val('');
            } else{
                $.ajax({
                    url: "populate_terminology_fields",
                    type: "GET",
                    data: {terminology_type: 'ncs4', terminology_id: $('#terminology_ncs4 option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
                })
            }
        }, 500);
    });

    $("input[value='Create Template']").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "create_template",
            type: "GET",
            data: {
                visit_template_id: $('#visit_template_id option:selected').val(),
                fee_schedule_id: $('#fee_schedule_id option:selected').val(),
                terminology_fcs1: $('#terminology_fcs1 option:selected').val(),
                units_fcs1: $('#units_fcs1').val(),
                terminology_fcs2: $('#terminology_fcs2 option:selected').val(),
                units_fcs2: $('#units_fcs2').val(),
                terminology_fcs3: $('#terminology_fcs3 option:selected').val(),
                units_fcs3: $('#units_fcs3').val(),
                terminology_fcs4: $('#terminology_fcs4 option:selected').val(),
                units_fcs4: $('#units_fcs4').val(),
                terminology_cs1: $('#terminology_cs1 option:selected').val(),
                units_cs1: $('#units_cs1').val(),
                terminology_cs2: $('#terminology_cs2 option:selected').val(),
                units_cs2: $('#units_cs2').val(),
                terminology_cs3: $('#terminology_cs3 option:selected').val(),
                units_cs3: $('#units_cs3').val(),
                terminology_cs4: $('#terminology_cs4 option:selected').val(),
                units_cs4: $('#units_cs4').val(),
                terminology_ncs1: $('#terminology_ncs1 option:selected').val(),
                units_ncs1: $('#units_ncs1').val(),
                terminology_ncs2: $('#terminology_ncs2 option:selected').val(),
                units_ncs2: $('#units_ncs2').val(),
                terminology_ncs3: $('#terminology_ncs3 option:selected').val(),
                units_ncs3: $('#units_ncs3').val(),
                terminology_ncs4: $('#terminology_ncs4 option:selected').val(),
                units_ncs4: $('#units_ncs4').val(),
                new_template_name: $('#new_template_name').val(),
            }
        })
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    $("input[value='Update Template']").click(function(e) {
        e.preventDefault();
        $.ajax({
            url: "update_template",
            type: "GET",
            data: {
                visit_template_id: $('#visit_template_id option:selected').val(),
                fee_schedule_id: $('#fee_schedule_id option:selected').val(),
                terminology_fcs1: $('#terminology_fcs1 option:selected').val(),
                units_fcs1: $('#units_fcs1').val(),
                terminology_fcs2: $('#terminology_fcs2 option:selected').val(),
                units_fcs2: $('#units_fcs2').val(),
                terminology_fcs3: $('#terminology_fcs3 option:selected').val(),
                units_fcs3: $('#units_fcs3').val(),
                terminology_fcs4: $('#terminology_fcs4 option:selected').val(),
                units_fcs4: $('#units_fcs4').val(),
                terminology_cs1: $('#terminology_cs1 option:selected').val(),
                units_cs1: $('#units_cs1').val(),
                terminology_cs2: $('#terminology_cs2 option:selected').val(),
                units_cs2: $('#units_cs2').val(),
                terminology_cs3: $('#terminology_cs3 option:selected').val(),
                units_cs3: $('#units_cs3').val(),
                terminology_cs4: $('#terminology_cs4 option:selected').val(),
                units_cs4: $('#units_cs4').val(),
                terminology_ncs1: $('#terminology_ncs1 option:selected').val(),
                units_ncs1: $('#units_ncs1').val(),
                terminology_ncs2: $('#terminology_ncs2 option:selected').val(),
                units_ncs2: $('#units_ncs2').val(),
                terminology_ncs3: $('#terminology_ncs3 option:selected').val(),
                units_ncs3: $('#units_ncs3').val(),
                terminology_ncs4: $('#terminology_ncs4 option:selected').val(),
                units_ncs4: $('#units_ncs4').val(),
            }
        })
        window.scrollTo({ top: 0, behavior: 'smooth' });
        $(".notice").text('Template updated successfully!');
    });

    $('#add_terminology_id').on("select2:selecting", function(e) {
        setTimeout(function() {
            $.ajax({
                url: "populate_terminology_fields_for_selected",
                type: "GET",
                data: {terminology_id: $('#add_terminology_id option:selected').val(), fee_schedule_id: $('#fee_schedule_id option:selected').val()},
            })
        }, 500);
    });


    $(document).ready(function() {
        $('#next_available_fcs').val(1);
        $('#next_available_cs').val(1);
        $('#next_available_ncs').val(1);
        $("input[value='Update Template']").hide();
        $('#create_template_name').hide();
        $('#add_terminology_id').select2();
        $('#add_terminology_id').prepend('<option/>').val(function(){return $('[selected]',this).val() ;})
        $('#terminology_fcs1, #terminology_fcs2, #terminology_fcs3, #terminology_fcs4').select2();
        $('#terminology_fcs1, #terminology_fcs2, #terminology_fcs3, #terminology_fcs4').prepend('<option/>').val(function(){return $('[selected]',this).val() ;})
        $('#terminology_cs1, #terminology_cs2, #terminology_cs3, #terminology_cs4').select2();
        $('#terminology_cs1, #terminology_cs2, #terminology_cs3, #terminology_cs4').prepend('<option/>').val(function(){return $('[selected]',this).val() ;})
        $('#terminology_ncs1, #terminology_ncs2, #terminology_ncs3, #terminology_ncs4').select2();
        $('#terminology_ncs1, #terminology_ncs2, #terminology_ncs3, #terminology_ncs4').prepend('<option/>').val(function(){return $('[selected]',this).val() ;})
    });

</script>
